

<div>
<!-- Card -->
<div class="card card-image my-lg-5"
style="background-image: url(https://img.freepik.com/premium-photo/3d-rendering-black-dumbbells-floor-dark-concept-fitness-room-with-training-equipments-back_67155-14961.jpg);">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
	<h2 class="card-title text-white pt-2"><strong>{{ doc.title or doc.name }}</strong></h2>
	<p>No one workout program is going to fit everyone, but it may help to see a sample workout schedule that includes all the workouts you need, whether you're a beginning exerciser or more advanced or experienced.</p>
	<a href="{{ doc.route }}" class="btn btn-primary"><i class="fas fa-clone left"></i> View </a>
  </div>
</div>

</div>
<!-- Card -->

</div>
<!-- this is a sample default list template -->



